@font-face {
    font-family: "Calculator";
    src: url(Silkscreen-Regular.ttf) format("truetype");
    font-weight: normal;
    font-size: normal;
}

html, body
{
    margin: 0;
    height: 100%;
}

body
{
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
}

#flex-center
{
    width: 100%;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overflow
{
    min-height: 20px;
    margin-top: 20px;
    color: #dddddd;
    text-align: center;
    filter: drop-shadow(1px 1px 0.5px #000000);
}

#calculator-body
{
    width: 200px;
    height: 240px;
    color: white;
    background-color: black;

    border-style: outset;
    border-width: 6px;
    border-right-width: 8px;
    border-bottom-width: 10px;
    filter: drop-shadow(4px 4px 6px #000000);

    display: flex;
    flex-direction: column;
}

#screen
{
    background-color: #455f36;
    color: rgb(49, 59, 49);
    font-family: "Calculator";
    font-size: 30px;
    text-align: end;
    text-shadow: 1px -1px 4px #2a3b1f;
    padding: 0px 8px;

    overflow: hidden;

    border-style: outset;
    border-width: 3px;
    height: 34px;
}

.row
{
    border-style: inset;
    border-width: 3px;
    height: 34px;

    display: flex;
    flex-direction: row;
}

.calculator-button
{
    border-style: outset;
    border-width: 3px;
    border-color: rgb(238, 238, 238);
    height: 34px;
    filter: drop-shadow(2px 2px 3px #797979);

    font-size: 16px;
    font-family: "Calculator";

    width: 25%;
    height: auto;
    text-align: center;

    background-color: white;
    transition: all 0.1s;
}

.calculator-button:hover
{
    background-color: rgb(243, 243, 243);
}

.calculator-button:active
{
    filter: drop-shadow(1px 1px 1px #ffffff);
    border-style: inset;
    background-color: rgb(207, 207, 207);
}

.end
{
    border-color: rgb(196, 196, 196);
    background-color: rgb(233, 233, 233);
}
.end:hover { background-color: rgb(216, 216, 216); }
.end:active { background-color: rgb(180, 180, 180); }

.top
{
    border-color: rgb(182, 182, 182);
    background-color: rgb(194, 194, 194);
}
.top:hover { background-color: rgb(180, 180, 180); }
.top:active { background-color: rgb(146, 146, 146); }


#change-background
{
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    transition: all 0.5s;

    opacity: 50%;
}

#change-background:hover
{
    opacity: 100%;
}

#change
{
    cursor: pointer;
    color: white;
    font-size: large;
    filter: drop-shadow(1px 1px 1px #000000);

    transition: all 0.5s;
}

#change:hover
{
    color: rgb(255, 248, 188);
}

#file
{
    display: none;
}